:root{
    --bg-color:#30336B;
    --clr-400:#686DE0;
    --clr--500:#4834D4;
    --clr--550:#6F00B8;
    --clr--600:#130F40;
  
    --f-clr: #DDDDDD;
    --s-clr: #95AFC0;
    --primary-clr:#ffffff;
}

@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: var(--bg-color);
    font-size: 1.5rem;
    font-family: 'Boogaloo', cursive;
}

.container-fluid{
    position: relative;
    overflow: hidden;
}
.grid-container {
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}

.grid-container,nav{
    display: grid;
    max-width: 2400px;
    margin: 0 auto;
    position: relative;
}

nav{
    width: 80%;
    padding: 10px 0;
    grid-template-columns: repeat(5,1fr);
    border-bottom: 2px solid #DDDDDD;
    grid-column: 2 span;
}
/* SECTION-1 */
a{
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}
a:not(.logo){
    font-size: 1rem;
}

.container-fluid .grid-container:nth-child(1) {
    grid-template-columns: 1fr 1fr;
    position: relative;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
}


.container-fluid .grid-container:nth-child(1) img{
    width: 100%;
    height: auto;
    position: relative;
    max-width: max-content;
    z-index: -2;
}
.wave{
    position: absolute;
    height: 100%;
    width: 100%;
 
}
.wave svg{
    display: flex;
    position: relative;

    max-width: 100%;
    min-height: 100%;
    z-index: 1;
}

/* .wave{
    position: absolute;
    height: 100%;
    width: 100%;
}
.wave svg{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
} */
.container-fluid .grid-container:nth-child(1) .wave svg .before{
    position: absolute;
    transform: translateY(80%);
    fill: var(--clr--600);

    max-width: max-content;
}
.container-fluid .grid-container:nth-child(1) .wave svg .after{
    position: absolute;
    fill: var(--clr--550);
    width: 100%;
    transform: translateY(90%);
    z-index: 1;
}
/* .container-fluid .grid-container:nth-child(1) img::before{
content: '';
position: absolute;
top: 0;
left: 0;
width: 500px;
heig  ht: 500px;
background: var(--clr--600);
} */
.container-fluid .grid-container:nth-child(1) .title{
    position: relative;
    z-index: 2;
    color: var(--s-clr);

}
.name > *,.img-container > *,.media,.skill > *{
    position: relative;
    margin: 10px 0;

    z-index: 2;
}
.container-fluid .grid-container:nth-child(1) h1{
    line-height: 1.5em;
    font-size: clamp(1.5rem, 12vw - 1rem, 5rem );
}
   
/* SECTION-2 */
.container-fluid .grid-container:nth-child(2){
 
    grid-template-columns: repeat(3,1fr);
    background: var(--clr--500);
    position: relative;
    justify-content: center;
    align-items: center;
    column-gap: 80px;
    color: var(--primary-clr);
    padding: 10em 5em;
}



.container-fluid .grid-container:nth-child(2) .img-container{
    border: 4px solid black;
    overflow: hidden;
    width: 600px;
    height:1000px;
    border-radius: 1000px;
    position: relative;
}
.container-fluid .grid-container:nth-child(2) img{
    position: relative;

    width:1500px;
    transform: translate(-25%,-25%);

}
/* .container-fluid .grid-container:nth-child(2) .img-container::after{
    content: " ";
    position: absolute;
    width: 150%;
    height: 100%;
    top:0;
    left: 0;
    background: var(--clr--600);
    border:5px solid var(--primary-clr);
    z-index: 3;

} */


.container-fluid .grid-container:nth-child(2) .wave svg .before{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    fill: var(--clr--600);
    transform: translateY(-200%);
    color: var(--primary-clr)
}   


.container-fluid .grid-container:nth-child(3){
  

  grid-template-columns: repeat(3,1fr);
    position: relative;
    place-items: center;
}
.container-fluid .grid-container:nth-child(3) div{
    text-align: center;
   justify-self: center;
   align-self: center;
  }
.container-fluid .grid-container:nth-child(3) h1{
    grid-column: 3 span;
    padding: 10px 0;
   }
   .container-fluid .grid-container:nth-child(3) .main-article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 3 span;
    max-width: 2400px;
    position: relative;
   }
   .container-fluid .grid-container:nth-child(3) .main-article .context{
    text-align: left;
    padding:0 30px;
   }

  
  .container-fluid .grid-container:nth-child(3) .img-container{
    padding: 20px;
  }
.container-fluid .grid-container:nth-child(3) .img-container img{
    min-width: 100%;
    height: 300px;
  }